<div class="content-container">
    <!-- header content -->
    <app-header (addEmployee)="addEmployee()"></app-header>

    <!-- main content -->
    <div class="content-main">
        <!-- toolbar table -->
        <app-tool-bar (refreshEvent)="refreshEvent()"></app-tool-bar>

        <!-- content table  -->
        <app-employee-list [employeeData]=employeeData #employeeList></app-employee-list>

        <app-employee-detail #employeeDetail></app-employee-detail>

        <!-- Loading icon -->
        <app-loadding-icon></app-loadding-icon>
    </div>
</div>